@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 211 100% 12%;
    --foreground: 0 0% 98%;
    --card: 211 100% 15%;
    --card-foreground: 0 0% 98%;
    --popover: 211 100% 12%;
    --popover-foreground: 0 0% 98%;
    --primary: 54 99% 50%;
    --primary-foreground: 211 100% 10%;
    --secondary: 197 100% 33%;
    --secondary-foreground: 0 0% 98%;
    --muted: 197 100% 23%;
    --muted-foreground: 0 0% 60%;
    --accent: 197 100% 74%;
    --accent-foreground: 211 100% 10%;
    --destructive: 11 97% 42%;
    --destructive-foreground: 0 0% 98%;
    --border: 197 100% 23%;
    --input: 197 100% 23%;
    --ring: 54 99% 58%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.25rem;
  }
  .dark {
    --background: 211 100% 12%;
    --foreground: 0 0% 98%;
    --card: 211 100% 15%;
    --card-foreground: 0 0% 98%;
    --popover: 211 100% 12%;
    --popover-foreground: 0 0% 98%;
    --primary: 54 99% 50%;
    --primary-foreground: 211 100% 10%;
    --secondary: 197 100% 33%;
    --secondary-foreground: 0 0% 98%;
    --muted: 197 100% 23%;
    --muted-foreground: 0 0% 60%;
    --accent: 197 100% 74%;
    --accent-foreground: 211 100% 10%;
    --destructive: 11 97% 42%;
    --destructive-foreground: 0 0% 98%;
    --border: 197 100% 23%;
    --input: 197 100% 23%;
    --ring: 54 99% 58%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
